Export
Config
Fields

.button__1202-19847 {
  padding-top: 0px;
  padding-right: 24px;
  padding-bottom: 0px;
  padding-left: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
  flex-grow: 1;
  display: flex;
  width: -webkit-fill-available;
  border-radius: 6px;
  background-color: #f4fbf9;
  height: 48px;
}
.text--children__1202-19849 {
  color: #081c15;
  font-size: 18px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration: none;
  font-family: Poppins;
  font-weight: 600;
  text-wrap: nowrap;
}

